@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: green;
}

.card {
  position: relative;
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.card .corner {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.card .top-left {
  top: 10px;
  left: 10px;
}

.card .bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.heart,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}
